*, ::before, ::after{
    box-sizing: border-box;
}

html {
    font-size:20px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color: lightgray;
}

img{
    max-width: 100%;
    height:auto; 
}

/*Components*/
.product-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:stretch;
    align-content: flex-start;
}
.product-wrapper .product{
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    padding: .325rem .75rem;
    border: 1px solid #ccc;
    flex: 0 0 24%;

}
/*Product Components*/
    .product-wrapper .product h2{
        margin:0;
        margin-bottom: .325rem;
    }
    .product-wrapper .product h3{
        margin:.325rem 0;
        align-self: flex-start;
    }
    .product-wrapper .product .product-image {
        flex: 0 0 50%;
    }
/*End Product Components*/
@media only screen and (max-width: 768px){
    .product-wrapper .product{
        flex: 0 0 33%;
    }
}

/*End Components*/

@media only screen and (max-width: 500px) {
/*Product Components*/
.product-wrapper .product{
    flex-flow: row wrap;
    flex-basis: 100%;
    justify-content: space-between;
}

/*Product Components*/
    .product-wrapper .product h2{
        flex:0 0 100%;
    }
    .product-wrapper .product .product-description{
        flex: 0 0 calc(50% - 1em);
        
    }
} 
/*End Product Components*/

/*End Components*/

/* bio components */

.bio-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: flex-start;
}

.bio-wrapper .bio {
    display: flex;
    flex-flow: column wrap;
    padding: 1em;
    border: 1px solid #ccc;
    flex: 0 0 30%;
    height: 85vh;
    width: 85vw;
}

.bio-wrapper img {
    width: 35%;
    border: 1px solid black;
}

.info {
    height: 50vh;
    width: 50vw;
}

/* End of bio components */

/* Start of Mobile bio components */

@media only screen and (max-width: 768px) {

    .bio-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .bio-wrapper .bio {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        padding: 1em;
        border: 1px solid #ccc;
        align-items: center;
        height: 750px;
        width: 85vw;
    }

    .bio-wrapper img {
        width: 35%;
        border: 1px solid black;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
    }

    .info h2 {
        text-align: center;
    }

    .info p {
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

}

/* End of  */